EmployeeManagementSystem/EmployeeManagementFixture/Service References/EmployeeServiceReference/EmployeeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeManagementSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeManagementSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeManagement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSubmitted" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeManagement" nillable="true" type="tns:EmployeeManagement" />
  <xs:complexType name="EmployeeServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaultId" type="xs:int" />
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeServiceFault" nillable="true" type="tns:EmployeeServiceFault" />
  <xs:complexType name="ArrayOfEmployeeManagement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeManagement" nillable="true" type="tns:EmployeeManagement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeManagement" nillable="true" type="tns:ArrayOfEmployeeManagement" />
</xs:schema>