EmployeeManagementServiceLibrary/Client/Service References/ClientServiceReference/EmployeeManagementServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeManagementServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeManagementServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeManagement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSubmitted" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeManagement" nillable="true" type="tns:EmployeeManagement" />
  <xs:complexType name="ArrayOfEmployeeManagement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeManagement" nillable="true" type="tns:EmployeeManagement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeManagement" nillable="true" type="tns:ArrayOfEmployeeManagement" />
</xs:schema>