EmployeeManagementServiceLibrary/Client/Service References/ClientServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EmployeeManagementServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeAdd_CreateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeAdd_CreateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeAdd_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeAdd_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeAdd_RemoveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeAdd_RemoveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeAdd_GetEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeAdd_GetEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeAdd_GetAllEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeAdd_GetAllEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeAdd">
    <wsdl:operation name="CreateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeAdd/CreateEmployee" message="tns:IEmployeeAdd_CreateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeAdd/CreateEmployeeResponse" message="tns:IEmployeeAdd_CreateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeAdd/AddEmployee" message="tns:IEmployeeAdd_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeAdd/AddEmployeeResponse" message="tns:IEmployeeAdd_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeAdd/RemoveEmployee" message="tns:IEmployeeAdd_RemoveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeAdd/RemoveEmployeeResponse" message="tns:IEmployeeAdd_RemoveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeAdd/GetEmployee" message="tns:IEmployeeAdd_GetEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeAdd/GetEmployeeResponse" message="tns:IEmployeeAdd_GetEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeAdd/GetAllEmployee" message="tns:IEmployeeAdd_GetAllEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeAdd/GetAllEmployeeResponse" message="tns:IEmployeeAdd_GetAllEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeAdd" type="tns:IEmployeeAdd">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeAdd/CreateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeAdd/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeAdd/RemoveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeAdd/GetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeAdd/GetAllEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeAdd" binding="tns:BasicHttpBinding_IEmployeeAdd">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/EmployeeManagementServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>